<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ParkingSystem01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>  
 	<listener-class>InitListener</listener-class>  
  </listener>
  <servlet>
    <servlet-name>ParkVehicle</servlet-name>
    <servlet-class>ParkVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParkVehicle</servlet-name>
    <url-pattern>/Navigate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TicketGen</servlet-name>
    <servlet-class>TicketGen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketGen</servlet-name>
    <url-pattern>/TicketGen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ParkDetails</servlet-name>
    <servlet-class>ParkDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParkDetails</servlet-name>
    <url-pattern>/ParkDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SlotFind</servlet-name>
    <servlet-class>SlotFind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SlotFind</servlet-name>
    <url-pattern>/SlotFind</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveVehicle</servlet-name>
    <servlet-class>RemoveVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveVehicle</servlet-name>
    <url-pattern>/RemoveVehicle</url-pattern>
  </servlet-mapping>
</web-app>